# Create Merged Dataset

In this workbook, you will read in the `trip` and `fare` files. You are welcome to use DataFrame and/or SparkSQL API as you desire as long as it produces the expected results.

## Instructions:

1. Join both datasets such that you get a merged dataset with 21 unique fields. You need to determine how to join the dataset.
2. Once you create the merged dataset, you need to convert fields to the following types, since all fields were read is as string:
    * pickup_datetime and dropoff_datetime must be TIMESTAMP
    * passenger_count and rate_code must be INT
    * all other numeric fields must be FLOAT
    * the remaining fields stay as STRING
3. Save your merged and converted dataset to your own S3 bucket in parquet format.

You are welcome to add as many cells as you need below up until the next section. **You must include comments in your code.**

In [4]:
import findspark
findspark.init()
from pyspark import SparkContext
sc=SparkContext()

In [5]:
sc

In [8]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()

In [9]:
spark

**Import Data files**

In [17]:
trip = spark.read.option("header", "true")\
  .parquet("s3://bigdatateaching/nyctaxi-2013/parquet/trip")

In [22]:
fare = spark.read.option("header", "true")\
  .parquet("s3://bigdatateaching/nyctaxi-2013/parquet/fare")

**Data Overview**

In [18]:
trip.describe()

DataFrame[summary: string, medallion: string, hack_license: string, vendor_id: string, rate_code: string, store_and_fwd_flag: string, pickup_datetime: string, dropoff_datetime: string, passenger_count: string, trip_time_in_secs: string, trip_distance: string, pickup_longitude: string, pickup_latitude: string, dropoff_longitude: string, dropoff_latitude: string]

In [19]:
trip.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_time_in_secs: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)

In [23]:
trip.show(3)

+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|           medallion|        hack_license|vendor_id|rate_code|store_and_fwd_flag|    pickup_datetime|   dropoff_datetime|passenger_count|trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|0FBCA8B7F51A9684E...|26AB68D4B482471A2...|      VTS|        1|              null|2013-03-15 07:42:00|2013-03-15 08:05:00|              1|             1380|         3.72|      -73.953934|      40.775021|       -73.993401|       40.747349|
|76B07812E69C59D13...|A9B1CD75F0D5A3205...|      VTS|        1|              null|2013-03-15 17:36:00|2013-03-15 17:50:00|              2|              840|         5.01|      -73.971207|      40.750553|       -74.009369|       40.702244|
|8BE796EBC7CE941D4...|7923BC72414526A2D...|      VTS|        1|              null|2013-03-16 08:09:00|2013-03-16 08:32:00|              5|             1380|         9.82|      -73.982964|      40.775864|       -73.876579|       40.771278|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
only showing top 3 rows

In [24]:
fare.describe()

DataFrame[summary: string, medallion: string, hack_license: string, vendor_id: string, pickup_datetime: string, payment_type: string, fare_amount: string, surcharge: string, mta_tax: string, tip_amount: string, tolls_amount: string, total_amount: string]

In [25]:
fare.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- surcharge: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- total_amount: string (nullable = true)

In [26]:
fare.show(3)

+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+
|           medallion|        hack_license|vendor_id|    pickup_datetime|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total_amount|
+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+
|180A298786862EA12...|BD9F6B0AED17B9CAB...|      VTS|2013-11-26 09:20:00|         CRD|         14|        0|    0.5|         1|           0|        15.5|
|F7F305E5D26B6A1A3...|52C8902960DA72824...|      VTS|2013-11-26 17:27:00|         CSH|       19.5|        1|    0.5|         0|           0|          21|
|64996CAE3371608EC...|8099958C7DA1A5601...|      VTS|2013-11-26 15:14:00|         CRD|          6|        0|    0.5|       1.2|           0|         7.7|
+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+
only showing top 3 rows

**Merge Dataset**

In [27]:
# Create two tables called 'trip_table' and 'fare_table'
trip.createOrReplaceTempView("trip_table")
fare.createOrReplaceTempView("fare_table")

In [28]:
# Join two tables by the variables 'medallion','hack_license' and 'pickup_datetime'
# To make sure the 'fare' matches the same 'trip'
nyctaxi = spark.sql("""
SELECT
t.medallion              
, t.hack_license           
, t.vendor_id              
, t.pickup_datetime        
, f.payment_type           
, f.fare_amount            
, f.surcharge              
, f.mta_tax             
, f.tip_amount            
, f.tolls_amount           
, f.total_amount         
, t.rate_code              
, t.store_and_fwd_flag     
, t.dropoff_datetime       
, t.passenger_count     
, t.trip_time_in_secs      
, t.trip_distance          
, t.pickup_longitude       
, t.pickup_latitude        
, t.dropoff_longitude      
, t.dropoff_latitude      
FROM trip_table t
JOIN fare_table f 
ON
(t.medallion = f.medallion 
and t.hack_license = f.hack_license 
and t.pickup_datetime = f.pickup_datetime)
""").cache()

In [29]:
nyctaxi.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- surcharge: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_time_in_secs: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)

**Convert Data Type**

As you can see from printing the nyctaxi schema, all of the fields were loaded as strings. This will not work for modeling purposes. You need to convert some of the fields to other types.

In [32]:
colname_float = ["trip_distance","pickup_latitude","pickup_longitude","dropoff_latitude","dropoff_longitude","fare_amount","surcharge","mta_tax","tip_amount","tolls_amount","total_amount"]
colname_timestamp = ["pickup_datetime","dropoff_datetime"]

nyctaxi_converted = nyctaxi.withColumn("passenger_count", nyctaxi["passenger_count"].cast("integer"))
nyctaxi_converted = nyctaxi_converted.withColumn("trip_time_in_secs", nyctaxi["trip_time_in_secs"].cast("integer"))


for i in colname_float:
    nyctaxi_converted = nyctaxi_converted.withColumn(i, nyctaxi[i].cast("float"))
    
for i in colname_timestamp:
    nyctaxi_converted = nyctaxi_converted.withColumn(i, nyctaxi[i].cast("timestamp"))

nyctaxi_converted.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- surcharge: float (nullable = true)
 |-- mta_tax: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- tolls_amount: float (nullable = true)
 |-- total_amount: float (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_time_in_secs: integer (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- pickup_longitude: float (nullable = true)
 |-- pickup_latitude: float (nullable = true)
 |-- dropoff_longitude: float (nullable = true)
 |-- dropoff_latitude: float (nullable = true)

## In the following cells, please provide the requested code and output. Do not change the order and/or structure of the cells.

In the next cell, provide the code that saves your merged dataset to your S3 bucket.

In [33]:
nyctaxi_converted.write.parquet("s3://502hw4//merged_data",mode="overwrite")

In the next cell, print the schema of your merged dataset.

In [34]:
nyctaxi_converted.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- surcharge: float (nullable = true)
 |-- mta_tax: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- tolls_amount: float (nullable = true)
 |-- total_amount: float (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_time_in_secs: integer (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- pickup_longitude: float (nullable = true)
 |-- pickup_latitude: float (nullable = true)
 |-- dropoff_longitude: float (nullable = true)
 |-- dropoff_latitude: float (nullable = true)

In the next cell, print the first 10 records of your merged dataset.

In [35]:
nyctaxi_converted.show(10)

+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+---------+------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|           medallion|        hack_license|vendor_id|    pickup_datetime|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total_amount|rate_code|store_and_fwd_flag|   dropoff_datetime|passenger_count|trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|
+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+---------+------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|00005007A9F30E289...|0649DA10C83DE7C6A...|      CMT|2013-05-14 21:41:46|         CSH|       10.5|      0.5|    0.5|       0.0|         0.0|        11.5|        1|                 Y|2013-05-14 21:52:49|              1|              663|          2.7|        -73.9876|      40.761337|        -73.95461|        40.76898|
|00005007A9F30E289...|16780B3E72BAA7A5C...|      CMT|2013-07-16 18:32:07|         CSH|        7.5|      1.0|    0.5|       0.0|         0.0|         9.0|        1|                 N|2013-07-16 18:41:58|              1|              591|          0.8|       -73.98923|       40.74743|       -73.998184|        40.74895|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-02 12:51:16|         CRD|        8.5|      0.0|    0.5|       1.8|         0.0|        10.8|        1|                 N|2013-10-02 13:03:42|              2|              745|          0.5|       -73.99525|       40.74958|       -73.989494|       40.755898|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-05 11:05:19|         CSH|        6.0|      0.0|    0.5|       0.0|         0.0|         6.5|        1|                 N|2013-10-05 11:10:00|              1|              280|          1.2|       -73.96498|      40.791233|        -73.96191|       40.779648|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-10 11:42:32|         CSH|       17.0|      0.0|    0.5|       0.0|         0.0|        17.5|        1|                 N|2013-10-10 11:54:47|              1|              734|          5.1|       -73.98229|      40.777756|        -73.94243|        40.83687|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-11 13:40:39|         CSH|        6.5|      0.0|    0.5|       0.0|         0.0|         7.0|        1|                 N|2013-10-11 13:47:35|              1|              416|          0.9|       -73.97346|      40.764458|        -73.96326|       40.771683|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-10-19 14:30:59|         CSH|        5.0|      0.0|    0.5|       0.0|         0.0|         5.5|        1|                 N|2013-10-19 14:35:33|              1|              274|          0.6|       -73.98155|      40.768353|        -73.97345|        40.76437|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-11-09 14:53:32|         CRD|       24.0|      0.0|    0.5|       4.9|         0.0|        29.4|        1|                 N|2013-11-09 15:14:01|              1|             1228|          7.2|       -74.01281|        40.7167|        -73.96437|       40.807182|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-11-11 12:30:33|         CRD|        6.0|      0.0|    0.5|       1.3|         0.0|         7.8|        1|                 N|2013-11-11 12:35:17|              1|              284|          0.9|       -74.01484|       40.71418|        -74.01491|       40.707893|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|2013-11-20 16:07:28|         CSH|        7.5|      1.0|    0.5|       0.0|         0.0|         9.0|        1|                 N|2013-11-20 16:15:29|              1|              480|          1.4|       -73.95694|       40.76803|        -73.95659|        40.78263|
+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+---------+------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
only showing top 10 rows

In the next cell, print the row count of your merged dataset.

In [36]:
print("Number of records: " + str(nyctaxi_converted.count()))

Number of records: 173185091